[submodule "backend"]
	path = backend
	url = https://github.com/yjaveria3-netizen/LibasTrack-Backend.git
	branch = main

[submodule "frontend"]
	path = frontend
	url = https://github.com/yjaveria3-netizen/LibasTrack-Frontend.git
	branch = main
